
@{
    ViewBag.Title = "NoStudentIDView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>NoStudentIDView</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @Html.DisplayText("Please Enter Valid Student ID")
</p>

